#sony-header{
    background-color: black;
}

.my_sony-logo{
    width: 100px;
}

.returnal-bootstrap-box{
    height: 90vh;
}

#jumbo_bg{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}

#returnal_logo{
    width: 200px;
}

.first_line{
    width: 100%;
}

.first_line > img{
    width: 100%;
    height: 100%;
}

.ret_little{
    background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
    ;
    background-size: cover;
}

.ratchet_little{
    background-image: url("../img/ratchet-and-clank-rift-apart-keyart.jpg");
    background-size: cover;
}

.square-box{
    height: 100px;
}

.play_thumb{
    width: 100%;
}

#console{
    background-image: url("../img/playstation-5-thumb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#controller{
    background-image: url("../img/joypad-thumb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cuffie_wireless{
    background-image: url("../img/headset-thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#tel_media{
    background-image: url("../img/remote-thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#telecamera{
    background-image: url("../img/camera-thumb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#it_takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}