#sony-header{
    background-color: black;
}

.my_sony-logo{
    width: 100px;
}

.returnal-bootstrap-box{
    height: 
}

#jumbo_bg{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    padding: 220px 0 60px 0;
}

.returnal_logo{
    width: 60%;
}

.first_line{
    width: 100%;
}

.first_line > img{
    width: 100%;
    height: 100%;
}

.ret_little{
    background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
    ;
    background-size: cover;
}

.ratchet_little{
    background-image: url("../img/ratchet-and-clank-rift-apart-keyart.jpg");
    background-size: cover;
}

.square-box{
    height: 100px;
}

.square-box_ps4{
    height: 150px;
}

.image_border{
    border: 2px transparent solid;
}

.square-box:hover{
   border: 4px solid blue;
}

.play_thumb{
    width: 100%;
}

#console{
    background-image: url("../img/playstation-5-thumb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#controller{
    background-image: url("../img/joypad-thumb.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cuffie_wireless{
    background-image: url("../img/headset-thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#tel_media{
    background-image: url("../img/remote-thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#telecamera{
    background-image: url("../img/camera-thumb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#it_takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

#bg_nuove-uscite{
    background-color: gray;
}

.tony_hawks{
    background-image: url("../img/tony-hawks-pro-skater-1-2-store-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.crash_bandicoot{
    background-image: url("../img/crash-bandicoot-4-its-about-time-store-art.jpg");
    background-size: cover;
    background-position: center;
}

#soulstorm{
    background-color: rgb(190, 184, 184);
}

.soulstorm-box{
    padding: 150px 0 60px 0;
}

.square_box_big{
    height: 300px;
    width: 100%;
}

#giochi_a_meno{
    background-image: url("../img/playstation-store-games-under-20-spotlight.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#week_gold{
    background-image: url("../img/playstation-store-golden-week-sale-spotlight.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#free_to_play{
    background-image: url("../img/playstation-store-free-to-play-spotlight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#avengers{
    background-color: rgb(53, 32, 128);
}

.square-box-social{
    height: 120px;
}

#twitter{
    background-image: url("../img/twitter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#facebook{
    background-image: url("../img/facebook.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#instagram{
    background-image: url("../img/instagram.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#you_tube{
    background-image: url("../img/youtube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}